html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: 'Work Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  margin: 1rem 0 0 0;
  font-size: 1.5rem;
}

h1 img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

h1 a {
  color: #263248;
}

h1 a:hover {
  color: #263248;
  text-decoration: none;
}

header nav {
  padding: 2rem 0 1.5rem 0;
  font-weight: 600;
  color: #7E8AA2;
}

header nav ul {
  display: flex;
  justify-content: space-around;
}

header nav a {
  color: #7E8AA2;
  text-decoration: none;
}

header nav a:hover {
  color: #263248;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  header nav {
    background-color: #225378;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2rem;
  }  
  
  header nav a {
    color: white;
  }

  header nav a:hover {
    color: #EB7F00;
  }  
}

.bg-scarves {
  width: 100%;
  min-height: 12rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  .bg-scarves {
    display: none;
  }
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  margin: 0.3rem 0 1rem 0;
  color: #7E8AA2;
}

select {
  margin: 0.2rem 0;
  padding: 2px;
  border-radius: 5px;
  width: 100%;
  font-size: 0.8rem;
}

button[type=submit] {
  margin: 0.2rem 0;
  border-radius: 5px;
  width: 5rem;
  font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {
  section aside {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .filter-by {
    display: block;
  }
  button[type=submit] {
    width: 12rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  button[type=submit] {
    width: 16rem;
  }
}

.item-container {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.item {
  margin: 0;
  padding: 1rem 2rem 0 2rem;
}

.item img {
  width: 100%;
  height: 65%;
}

h3 {
  margin-bottom: 1rem;
  font-weight: 600;
  color: #263248;
}

.item p {
  color: #7E8AA2;
  line-height: 1.3rem;
}

footer {
  text-align: center;
  background-color: #FFD34E;
  color: #263248;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

footer nav {
  padding: 1rem;
}

footer nav a {
  color: #7E8AA2;
  text-decoration: none;
}

footer nav a:hover {
  color: #263248;
  text-decoration: none;
}

